.link {
    cursor: pointer;
    color: white;
    font-weight: 500;
  }
  .box {
    --mask:
    radial-gradient(2px at 2px 50%,#000 99%,#0000 101%) 0 calc(50% - 4px)/51% 8px repeat-y,
    radial-gradient(2px at 0px 50%,#0000 99%,#000 101%) 2px 50%/calc(51% - 2px) 8px repeat-y,
    radial-gradient(2px at calc(100% - 2px) 50%,#000 99%,#0000 101%) 100% calc(50% - 4px)/51% 8px repeat-y,
    radial-gradient(2px at calc(100% + 0px) 50%,#0000 99%,#000 101%) calc(100% - 2px) 50%/calc(51% - 2px) 8px repeat-y;
  -webkit-mask: var(--mask);
          mask: var(--mask);
          height: 50px;
          width: 180px;
          background:rgb(241, 81, 108);
          display: flex;
          justify-content: center;
          align-items: center;
          margin-bottom: 10px;

  }
  
  
  .burger {
    width: 20px;
    height: 16px;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    display: none;
  }
  
  .line {
    width: 100%;
    height: 2px;
    background-color: var(--textColor);
  }
  
  .responsiveMenu{
    position: absolute;
    top: 100px;
    left: 0;
    background-color: var(--bg);
    height: calc(100vh - 100px);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    font-size: 36px;
    z-index: 999;
  }
  
  @media screen and (max-width: 640px) {
    .burger {
      display: flex;
    }
  
    .link{
      display: none;
    }
  }