.infoContainer {
    display: flex;
    align-items: center;
    gap: 50px;
  }
  
  .textContainer {
    flex: 1;
  }
  
  .title {
    font-size: 64px;
    margin-bottom: 50px;

  }
  
  .user {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .userImageContainer {
    width: 50px;
    height: 50px;
    position: relative;
  }
  
  .avatar {
    border-radius: 50%;
    object-fit: cover;
  }
  
  .userTextContainer {
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: var(--softTextColor);
  }
  
  .username {
    font-size: 20px;
    font-weight: 500;
  }
  
  .imageContainer {
    flex: 1;
    height: 350px;
    position: relative;
    padding-left: 80px;
    padding-right: 80px;
  }
  
  .image {
    object-fit: cover;
 border-radius: 30px;
  }
  
  .content {
    display: flex;
    gap: 50px;
  }
  
  .post {
    flex: 5;
    margin-top: 60px;
  }
  
  .description p {
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 20px;
  }
  .description {
    word-wrap: break-word; /* Wrap long words onto the next line */
    word-break: break-word; /* Break long words at the edge of the container */
    overflow-wrap: break-word; /* Prevent overflow by breaking words */
    width: 100%; /* Ensure the description takes up the full width of the container */
    max-width: 100%; /* Prevent content from exceeding container width */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
  }
  
  
  @media screen and (max-width: 1536px) {
    .title {
      font-size: 54px;
    }
  }
  @media screen and (max-width: 1280px) {
    .title {
      font-size: 48px;
    }
  }
  @media screen and (max-width: 1024px) {
    .imageContainer {
      display: none;
    }
  }
  @media screen and (max-width: 640px) {
    .title {
      font-size: 36px;
    }
  
    .description p{
      font-size: 18px;
    }
    .textContainer{
      width: 300px
    }
    .desc{
      width: 600px;
    }
  }
  .container{
    padding-left: 80px;
    padding-right: 80px;
  }

  .edit{
    padding: 10px;
    margin-top: 20px;
   height: 100px;
width: 600px;

  }
  .editText{
font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 15px;
    font-size: 20px;
    color:blue;

  }
  .editButtons{
    display: flex;
    gap: 20px;

  }
  .box {
    --mask:
    radial-gradient(2px at 2px 50%,#000 99%,#0000 101%) 0 calc(50% - 4px)/51% 8px repeat-y,
    radial-gradient(2px at 0px 50%,#0000 99%,#000 101%) 2px 50%/calc(51% - 2px) 8px repeat-y,
    radial-gradient(2px at calc(100% - 2px) 50%,#000 99%,#0000 101%) 100% calc(50% - 4px)/51% 8px repeat-y,
    radial-gradient(2px at calc(100% + 0px) 50%,#0000 99%,#000 101%) calc(100% - 2px) 50%/calc(51% - 2px) 8px repeat-y;
  -webkit-mask: var(--mask);
          mask: var(--mask);
          height: 50px;
          width: 180px;
          background:rgb(244, 239, 73);
          display: flex;
          justify-content: center;
          align-items: center;
          margin-bottom: 10px;
          transition: transform 0.3s ease ;
color: rgb(218, 38, 38);
font-family: monospace;
font-size: large;
font-weight: 800;
cursor: pointer;
     

  }
  
  .box:hover{
    transform: translateY(-5px)
  }