.typingContainer {
  
    font-size: 20px;
    font-weight: bold;
    color: #F1516C;
    font-size:xx-large;
    text-align: center;
    margin: 20px 0;
  }

  
  @media screen and (max-width: 480px) {
   .typingContainer
   {

    font-size: 15px;
   
   }

  }
  