.container{
    flex: 2;
    margin-top: 50px;

    height: fit-content;
}
.items {
  background-color: #000;
    margin-top: 35px;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    gap: 35px;
    
  }

  .box {
    --mask:
      radial-gradient(13.79px at 50% calc(100% - 19.5px),#000 99%,#0000 101%) calc(50% - 20px) 0/40px 100%,
      radial-gradient(13.79px at 50% calc(100% + 9.5px),#0000 99%,#000 101%) 50% calc(100% - 10px)/40px 100% repeat-x;
    -webkit-mask: var(--mask);
            mask: var(--mask);

            
font-family: nunito;
  
  
  
    background-color: #4248f6;
    width: 100%;
height: 800px;
    padding: 30px;
    border-top: #373FF9;
    border-radius: 40px;

  }
  
  .item {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .imageContainer {
    flex: 1;
    aspect-ratio: 1/1;
    position: relative;
  }
  
  .image {
    border-radius: 50%;
    border: 3px solid lightgray;
    object-fit: cover;
  }
  
  .textContainer {
    flex: 4;
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: aliceblue;
  }
  
  .category {
    padding: 3px 8px;
    border-radius: 10px;
    font-size: 12px;
    color: white;
    width: max-content;
  }
  
  .category.travel {
    background-color: #ff7857;
  }
  
  .placements {
    background-color: #ffb14f;
  }
  
  .AIML {
    background-color: #7fb881;
  }
  
  .interviews {
    background-color: #ff7887;
  }
  
  .collegeLife {
    background-color: #775aec;
  }
  
  .openSource {
    background-color: #789cff;
  }
  
  .postTitle {
    font-size: 18px;
    font-weight: 500;
    color: white;

  }
  
  .detail {
    font-size: 12px;
  }
  
  .date {
    color: gray;
  }
  @media screen and (max-width: 1024px) {
    .container {
     display: none;
    }
    
  }
  .subtitle{
    font-family: cursive;
  }
  .subtitle, .title{
    
    font-size: 40px;
    font-weight: 900;
    font:bolder;
    background: linear-gradient(
        to right,
        #7953cd 20%,
        #F1516C 30%,
        #F1516C 70%,
        #764ada 80%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;

    background-size: 500% auto;
    animation: textShine 5s ease-in-out infinite alternate;
}
@keyframes textShine {
  0% {
      background-position: 0% 50%;
  }
  100% {
      background-position: 100% 50%;
  }
}