.container {
    display: flex;
    align-items: center;
    justify-content: center;

    height: screen;

  }
  
  .wrapper {
   

    padding: 220px 200px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    border-radius: 10px;
  }
  
  .socialButton {
    padding: 20px;
    border-radius: 5px;
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .socialButton:first-child {
    background-color: #F1516C;
  }
  
  .box {
    --mask:
    radial-gradient(2px at 2px 50%,#000 99%,#0000 101%) 0 calc(50% - 4px)/51% 8px repeat-y,
    radial-gradient(2px at 0px 50%,#0000 99%,#000 101%) 2px 50%/calc(51% - 2px) 8px repeat-y,
    radial-gradient(2px at calc(100% - 2px) 50%,#000 99%,#0000 101%) 100% calc(50% - 4px)/51% 8px repeat-y,
    radial-gradient(2px at calc(100% + 0px) 50%,#0000 99%,#000 101%) calc(100% - 2px) 50%/calc(51% - 2px) 8px repeat-y;
  -webkit-mask: var(--mask);
          mask: var(--mask);
          height: 50px;
          width: 180px;
          background:rgb(241, 81, 108);
          display: flex;
          justify-content: center;
          align-items: center;
          margin-bottom: 10px;

  }
  
  .socialButton:nth-child(2) {
    background-color: #111;
  }
  
  .socialButton:nth-child(3) {
    background-color: #087bea;
  }
  
  @media screen and (max-width: 768px) {
    .wrapper {
      padding: 50px 100px;
    }
  }
  @media screen and (max-width: 640px) {
    .wrapper {
      padding: 30px;
    }
  
    .socialButton{
      font-weight: 400;
      font-size: 14px;
    }
  }