/* Intro.module.css */
.intro {
  line-height: 1.6; /* Adjust line height as needed */
}

.para {
  font-size: 30px;
  color: #626262;
  /* Additional styles as required */
}
@media  screen and (max-width: 480px) {
  .para {
    font-size: 20px;
  }
    
}